                
                <li class="nav-item">
                  <a href="#" class="nav-link" style="background-color: #0000ff">
                    <i class="nav-icon fas fa-users" ></i>
                    <p>
                      Usuarios
                      <i class="right fas fa-angle-left"></i>
                    </p>
                  </a>
                  <ul class="nav nav-treeview">
                    <li class="nav-item">
                      <a href="<?php echo $URL;?>../../usuarios/index.php" class="nav-link">
                        <i class="nav-icon fas fa-list"></i>
                        <p>Listado Usuario</p>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="<?php echo $URL;?>../../usuarios/create.php" class="nav-link">
                        <i class="fas fa-user-plus"></i>
                        <p>Creacion de Usuarios</p>
                      </a>
                    </li>
                  </ul>
                </li>